<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>SMART v2 Confidential Client</title>
  </head>
  <body>
    <h1>Welcome to the SMART v2 Confidential Client Test!</h1>
    <div class="card">
      <h5 class="card-header">General application information</h5>
        <div class="card-body">
          <h5 class="card-title">General Application Information</h5>
          <p class="card-text">Your client id is: {{ client_id }}</p>
          <p class="card-text">Your requested scopes will be: {{ scopes }}</p>
          <p>
            <label for="iss">FHIR Server Base URL</label>
            <input class="form-control" id="iss" placeholder="Enter FHIR Server Base URL">
          </p>
          <a href="#" class="btn btn-primary" onclick="runTest()">Run the Test</a>
        </div>
    </div>

    <div class="card">
      <h5 class="card-header">Client credential flow information</h5>
        <div class="card-body">
          <h5 class="card-title">Client credentials</h5>

          {% if client_id_cc %}
            <p class="card-text">Your client credential flow client id is: {{ client_id_cc }}</p>
          {% else %}
            <p class="card-text">Your client credential id is missing. After login, you won't be able to test this additional use case.</p>
          {% endif %}

          {% if scopes_cc %}
            <p class="card-text">Your client credential flow scopes are: {{ scopes_cc }}</p>
          {% else %}
            <p class="card-text">Your client credential scopes are missing. After login, you won't be able to test this additional use case.</p>
          {% endif %}
        </div>
    </div>
    <script>
      function runTest() {
        var iss = document.getElementById('iss').value;
        window.location = '/launch?iss=' + iss
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
